/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
.DS_Store
/build
/captures

# Android Studio
.gradle
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
app/app.iml
imageviewtouchlibrary/imageviewtouchlibrary.iml
*.iml

#For Dolphin users
*.directory
