<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.rulosoft.mimanganu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme_miDark">

        <!--
            Better if app starts dark and turns white than blinds you with white splash screen
            before it turns dark.
        -->
        <activity
            android:name=".ActivityMisMangas"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityServerMangaList"
            android:label="@string/title_activity_server_listade_mangas" />
        <activity
            android:name=".ActivityDetails"
            android:label="@string/title_activity_activity_detalles" />
        <activity
            android:name=".ActivityLector"
            android:label="@string/title_activity_activity_lector"
            android:largeHeap="true"
            android:theme="@style/AppTheme.Light.NoActionbar" />
        <activity
            android:name=".ActivityServerFilteredNavigation"
            android:label="@string/title_activity_server_visual_navegacion" />
        <activity
            android:name=".ActivityResultadoDeBusqueda"
            android:label="@string/title_activity_activity_resultado_de_busqueda" />
        <activity
            android:name=".ActivityLicenseView"
            android:label="@string/licencia" />
        <activity
            android:name=".ActivitySettings"
            android:label="@string/configuraciones" />

        <service android:name=".services.DownloadPoolService" />

        <activity
            android:name=".ActivityDownloads"
            android:label="@string/descargas" />
        <activity
            android:name=".ActivityManga"
            android:label="@string/title_activity_activity_manga" />

        <receiver android:name=".services.AlarmReceiver">
            <action android:name="ar.rulosoft.CHECK_UPDATES" />
        </receiver>
        <receiver android:name=".services.BootAndUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ActivityReader"
            android:label="@string/title_activity_vertical_reader"
            android:largeHeap="true"
            android:theme="@style/AppTheme.Light.NoActionbar" />
    </application>

</manifest>
