<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.rulosoft.mimanganu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name=".MiMangaNuApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme_miDark">

        <!--
            Better if app starts dark and turns white than blinds you with white splash screen
            before it turns dark.

            MainActivity's launchMode needs to be "standard" for onActivityResult to work
            note: we don't currently use onActivityResult
        -->
        <activity
            android:name=".MainActivity"
            android:launchMode="standard"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPagedReader"
            android:label="@string/title_activity_activity_lector"
            android:largeHeap="true"
            android:theme="@style/AppTheme.Dark.NoActionbar" />
        <service android:name=".services.DownloadPoolService" />
        <receiver android:name=".utils.NetworkUtilsAndReciever" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".services.AlarmReceiver">
            <action android:name="ar.rulosoft.CHECK_UPDATES" />
        </receiver>
        <receiver android:name=".services.BootAndUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ActivityReader"
            android:label="@string/title_activity_vertical_reader"
            android:largeHeap="true"
            android:theme="@style/AppTheme.Dark.NoActionbar" />
    </application>

</manifest>